<section class="skicams">
    <div class="skicam shadow-sm">
        <div class="card">
            <div class="card-body">
                <p class="card-subtitle date">{{currentDate | date : 'dd-MM-yyyy'}}</p>
                <p class="card-title place">{{firstPlaceWithCams}}</p>
                <div ng-repeat="firstSetImg in firstSetImgs">
                    <img ng-src="{{firstSetImg}}" alt="Ski camera">
                </div>
            </div>
        </div>
    </div>
    <div class="skicam shadow-sm">
        <div class="card">
            <div class="card-body">
                <p class="card-subtitle date">{{currentDate | date : 'dd-MM-yyyy'}}</p>
                <p class="card-title place">{{secondPlaceWithCams}}</p>
                <div ng-repeat="secondSetImg in secondSetImgs">
                    <img ng-src="{{secondSetImg}}" alt="Ski camera">
                </div>
            </div>
        </div>
    </div>
</section>