<section class="skicams">
    <div class="skicam shadow-sm">
        <div class="card">
            <div class="card-body">
                <p class="card-subtitle date">{{currentDate | date : 'dd-MM-yyyy'}}</p>
                <p class="card-title place">Brusson</p>
            <div ng-repeat="brussonImg in brussonImgs">
                <img ng-src="{{brussonImg}}">
            </div>
            </div>
        </div>
    </div>
    <div class="skicam shadow-sm">
        <div class="card">
            <div class="card-body">
                <p class="card-subtitle date">{{currentDate | date : 'dd-MM-yyyy'}}</p>
                <p class="card-title place">Piani di Bobbio</p>
            <div ng-repeat="pianiDiBobbioImg in pianiDiBobbioImgs">
                <img ng-src="{{pianiDiBobbioImg}}">
            </div>
            </div>
        </div>
    </div>
</section>