footer {
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  height: 6rem;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  footer {
    height: 5.5rem;
  }
}
@media only screen  and (max-width: 575.98px) {
  footer {
    height: 4rem;
  }
}
footer div {
  width: 15rem;
  border-top: 1px solid rgba(186, 183, 183, 0.8);
  padding-top: 1rem;
  font-weight: 100;
  margin-top: 2rem;
  display: inline-block;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  footer div {
    width: 10.5rem;
    margin-top: 1rem;
  }
}
@media only screen  and (max-width: 575.98px) {
  footer div {
    width: 8rem;
    padding-top: 0.6rem;
    margin-top: 0.8rem;
  }
}
footer div p {
  font-size: 1rem;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  footer div p {
    font-size: 0.9em;
  }
}
@media only screen  and (max-width: 575.98px) {
  footer div p {
    font-size: 0.6em;
  }
}
nav.navbar {
  border-bottom: 1px solid rgba(186, 183, 183, 0.8);
  border-radius: 0;
  padding: 0 10%;
  margin-bottom: 0;
  background-color: #ffffff;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  nav.navbar {
    padding: 0 7%;
    font-size: 0.9em;
  }
}
@media only screen  and (max-width: 575.98px) {
  nav.navbar {
    font-size: 0.8em;
  }
}
nav.navbar .container.menu-logo {
  padding: 1.5rem 0;
}
@media only screen  and (max-width: 575.98px) {
  nav.navbar .container.menu-logo {
    justify-content: center;
  }
}
nav.navbar .container.menu-logo .navbar-header .navbar-brand img {
  width: auto;
  height: 3.5rem;
}
@media only screen  and (max-width: 575.98px) {
  nav.navbar .container.menu-logo .navbar-header .navbar-brand img {
    height: 2.5rem;
  }
}
nav.navbar .container.menu-items {
  justify-content: flex-start;
  padding-left: 0;
}
@media only screen  and (max-width: 575.98px) {
  nav.navbar .container.menu-items {
    padding: 0;
    justify-content: space-around;
  }
}
nav.navbar .container.menu-items .navbar-nav {
  padding-right: 2rem;
}
@media only screen  and (max-width: 575.98px) {
  nav.navbar .container.menu-items .navbar-nav {
    padding-right: 0.2rem;
  }
}
nav.navbar .container.menu-items .navbar-nav li {
  position: relative;
  line-height: 2rem;
}
nav.navbar .container.menu-items .navbar-nav li a {
  text-decoration: none;
  color: #000000;
  padding-bottom: 1rem;
}
nav.navbar .container.menu-items .navbar-nav li a:focus,
nav.navbar .container.menu-items .navbar-nav li a:hover {
  background-color: transparent;
}
nav.navbar .container.menu-items ul.active :before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  right: 0;
  height: 2px;
  border-bottom: 3px solid #ff7626;
}
nav.navbar .container.menu-items ul.active a {
  color: #ff7626;
}
section.about .card-deck {
  color: #282828;
}
@media only screen  and (max-width: 575.98px) {
  section.about .card-deck {
    align-items: center;
  }
}
section.about .card-deck .card {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
}
@media only screen  and (max-width: 575.98px) {
  section.about .card-deck .card {
    width: 75%;
  }
}
section.about .card-deck .card .card-img-top {
  border-radius: 0;
}
section.about .card-deck .card .card-body .card-title {
  font-size: 1rem;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  section.about .card-deck .card .card-body .card-title {
    font-size: 0.9rem;
  }
}
section.about .card-deck .card .card-body .card-text {
  font-size: 0.7rem;
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  section.about .card-deck .card .card-body .card-text {
    font-size: 0.6rem;
  }
}
section.skicams {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen  and (max-width: 575.98px) {
  section.skicams {
    flex-direction: column;
  }
}
section.skicams .skicam {
  display: flex;
  padding: 0;
  width: 48%;
  margin-bottom: 2rem;
}
@media only screen  and (max-width: 575.98px) {
  section.skicams .skicam {
    width: 100%;
  }
}
section.skicams .skicam .card {
  width: 100%;
}
section.skicams .skicam .card .card-body {
  padding: 0;
}
section.skicams .skicam .card .card-body .date {
  font-size: 0.7rem;
  text-align: right;
  margin: 0.3rem 0.3rem 0;
  color: rgba(104, 101, 101, 0.8);
}
section.skicams .skicam .card .card-body .place {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
section.skicams .skicam img {
  width: 100%;
}
section.contact {
  height: calc(100vh - 15rem);
  min-height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0;
}
@media only screen  and (max-width: 575.98px) {
  section.contact {
    min-height: 23rem;
  }
}
section.contact .card-section {
  align-self: center;
}
section.contact .card-section .card {
  width: 26rem;
  margin: 0 auto;
}
@media only screen  and (max-width: 575.98px) {
  section.contact .card-section .card {
    width: 100%;
  }
}
section.contact .card-section .card .card-body {
  padding: 3rem;
}
@media only screen  and (max-width: 575.98px) {
  section.contact .card-section .card .card-body {
    padding: 2rem;
  }
}
section.contact .card-section .card .card-body form div:nth-of-type(3) {
  padding-top: 3rem;
}
section.contact .card-section .card .card-body form div:nth-of-type(3)::after {
  content: none;
}
section.contact .card-section .card .card-body form .form-group {
  position: relative;
}
section.contact .card-section .card .card-body form .form-group::after {
  content: '*';
  position: absolute;
  top: 0.5rem;
  left: 2.1rem;
  color: #ff0000;
  font-size: 0.7rem;
}
section.contact .card-section .card .card-body form .form-group.has-error::after {
  content: none;
  position: absolute;
  top: 0.5rem;
  left: 2.1rem;
  color: transparent;
  font-size: 0.7rem;
}
section.contact .card-section .card .card-body form input {
  font-size: 0.75em;
  padding-left: 0;
  outline: 0;
  border-width: 0 0 2px;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 0;
}
section.contact .card-section .card .card-body form .form-control:focus {
  border-color: #ff7626;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  outline: 0 none;
}
section.contact .card-section .card .card-body form .help-block {
  color: #ff0000;
  font-size: 0.6rem;
  padding-top: 0.2rem;
}
section.contact .card-section .card .card-body form button {
  background-color: #589fff;
  color: #ffffff;
  width: 5rem;
  float: right;
}
html {
  height: 100%;
}
html body {
  background-color: #f2f2f2;
  color: #282828;
  font: 1rem/1.6 'roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
}
html body main {
  flex: 1 0 auto;
  padding: 0 10% 7rem;
  background-color: #f2f2f2;
}
@media only screen  and (max-width: 575.98px) {
  html body main {
    padding: 0 5% 7rem;
  }
}
html body section {
  padding-top: 2rem;
}
