@color-white: #ffffff;
@color-gray_light: #cbcbcb;
@color-gray_dark: #282828;
@color-black: #000000;
@color-gray_medium: #555555;
@color-orange_dark: #ff7626;
@color-orange_light: #ff8c43;
@color-transparent: transparent;