footer {
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: @color-gray_dark;
  color: @color-white;
  text-align: center;
  height: 7rem;
  div {
    width: 15rem;
    border-top: 0.5px solid @color-gray_light;
    padding-top: 1rem;
    font-weight: 100;
    margin-top: 2rem;
    display: inline-block;
    p {
      font-size: 1rem;
    }
  }
}