@import 'colors';
@import 'footer';
@import 'header';
@import 'about';
@import 'skicams';
@import 'contact';
@import 'breakpoints';

html {
  height: 100%;
  body {
    background-color: @color-gray_light;
    color: @color-gray_dark;
    font: 1rem/1.6 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 600px;
    width: 100%;
    main {
      flex: 1 0 auto;
      padding: 0 10% 7rem;
      background-color: @color-gray_light;
      @media @xs {
        padding: 0 5% 7rem;
        //margin-top: 8rem;
      }
    }
    section {
      padding-top: 2rem;
    }
  }
}